@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
/* shared style */
.display-flex{
    display: flex;
}
.text-gray{
    color: #8987A1;
}
/* nav style */
.bg-light{
    background-color: #fff;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.nav-item{
    list-style: none;
    
}
.nav-gap{
    margin-right: 48px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
.text-bold{
    color: #252432;
    font-weight: bold;
    font-size: 1rem;
}
/* banner-section */
.banner{
    margin-top: 120px;
    width: 100%;
    align-items: end;
    
}

.banner-title{
    font-family: "Noto Serif", serif;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
   
}
.about{
    margin-bottom: 0;

}
.discription{
    width: 50%;
}
.title{
    color: #E95A08;
}
/* plant section */
.plant-container{
    max-width: 1140px;
    margin: 0 auto;
}
.plant-section{
    text-align: center;
    margin-top: 120px;
}
.section-title{
    font-family: "Noto Serif", serif;
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.section-discription{
    line-height: 1.6;
    margin: 0 auto 41px auto;
    font-size: 1.1rem;
}
/* plant-grid */
.plant-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}
/* plant-item */
.plant-item{
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}
.plant-item img{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.plant-name{
    font-family: "Inter";
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 1.375rem;
    color: #111111;
}
.price{
    font-family: "Inter";
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn-primary{
    background-color: #E95A08;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    padding: 19px 80px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin-bottom: 0;
}
.btn-primary:hover{
    background-color: #d35400;
}
/* flower-plant-section */
.flower-plant-section{
    max-width: 1140px;
    width: 100%;
    margin-top: 250px;
}
.flower-wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.flower{
    position: relative;
    flex: 1;
    
}
.flower-img{
    max-width: 540px;
    height: 597px;
    width: 100%;
    display: block;
    object-fit: cover;
}
.badge-icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0,0.6));
}
.trusted-badge{
    position: absolute;
    width: 286px;
    height: 286px;
    top: -122px;
    right: -74px;
    z-index: 10;
    background: transparent;
    
}
.flower-title{
    font-family: "Noto Serif";
    font-size: 3.125rem;
    font-weight: bold;
    color: #000000;
    line-height: 1.1;
    margin-bottom: 20px;

}
.discription-list li{
    font-size: 1.375rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: #8987A1;
}
/* deal section */
.leatest-deal{
    text-align: center;
    margin-top: 80px;
}
.leatest-deal h1{
    font-family: "Noto Serif";
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 0;
}
.leatest-deal p{
    font-family: "Inter";
    font-size: 1.375rem;
    font-weight: 400;
}
/* discount section */
.discount-section{
    max-width: 1140px;
    margin-top: 120px;
    pad: 0;
}
.off{
    display: flex;
    gap: 20px;
    
}
.card-left{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 367px;
    height: 423px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.card-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: 753px;
}
.off-section1{
    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    overflow: hidden;
    height: 197px;
    width: 100%;
    color: #FFFFFF;
    border-radius: 14px;
    object-fit: cover;
}
.off-section2{
    background-image: url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    overflow: hidden;
    height: 197px;
    width: 100%;
    color: #FFFFFF;
    border-radius: 14px;
    object-fit: cover;
}
.off-section3{
    background-image: url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    overflow: hidden;
    height: auto;
    color: #FFFFFF;
    border-radius: 14px;
    object-fit: cover;
}
.count{
    padding: 65px 48px;
}
.count h2{
    font-family: "Noto Serif";
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0;
}